<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon and Fairy - Vietnamese History</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/inner-page.css">
    <script src="../static/main.js" defer></script>
</head>

<body>
    <header class="main-header">
        <div class="header-left">
            <button id="lang-toggle" class="lang-btn">EN</button>
        </div>

        <h1 class="site-title" data-key="era.fourth"></h1>

        <div class="toggle-group">
            <a href="../index.html" class="return-btn"> Return to Timeline</a>
        </div>
    </header>

    <div class="container">
        <div class="vertical-divider"></div>

        <div class="content-row row-left">
            <div class="image-box">
                <img src="../static/images/Battle.png" alt="The Legend">
            </div>
            <div class="info-box">
                <h2 data-key="Bach_Dang.union_h2"></h2>
                <p data-key="Bach_Dang.union_p"></p>
            </div>
        </div>

        <div class="content-row row-left">
            <div class="info-box">
                <h2 data-key="Bach_Dang.eggs_h2"></h2>
                <p data-key="Bach_Dang.eggs_p"></p>
            </div>
            <div class="image-box">
                <img src="../static/images/RAHH.png" alt="The Eggs">
            </div>
        </div>

         <div class="content-row row-right">
            <div class="info-box">
                <h2 data-key="Bach_Dang.after_h2"></h2>
                <p data-key="Bach_Dang.after_p"></p>
            </div>  
            <div class="image-box">
                <img src="../static/images/Statue.png" alt="The Eggs">
            </div>
        </div>
    </div>
</body>
</html>