<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon and Fairy - Vietnamese History</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/inner-page.css">
    <script src="../static/main.js" defer></script>
</head>

<body>
    <header class="main-header">
        <div class="header-left">
            <button id="lang-toggle" class="lang-btn">EN</button>
        </div>

        <h1 class="site-title" data-key="era.first">Dragon and Fairy</h1>

        <div class="toggle-group">
            <a href="../index.html" class="return-btn">Return to TimeLine</a>
        </div>
    </header>

    <div class="container">
        <div class="vertical-divider"></div>

        <div class="content-row row-left">
            <div class="image-box">
                <img src="../static/images/Prologue.webp" alt="The Legend">
            </div>
            <div class="info-box">
                <h2 data-key="dragon_fairy.union_h2">The Sacred Union</h2>
                <p data-key="dragon_fairy.union_p">Lạc Long Quân, the Dragon Lord, and Âu Cơ, the Mountain Fairy, fell in love...</p>
            </div>
        </div>

        <div class="content-row row-left">
            <div class="info-box">
                <h2 data-key="dragon_fairy.eggs_h2">One Hundred Eggs</h2>
                <p data-key="dragon_fairy.eggs_p">Âu Cơ produced a sac of 100 eggs...</p>
            </div>
            <div class="image-box">
                <img src="../static/images/Episode_01.webp" alt="The Eggs">
            </div>
        </div>

         <div class="content-row row-right">
            <div class="info-box">
                <h2 data-key="dragon_fairy.eggs_h2">One Hundred Eggs</h2>
                <p data-key="dragon_fairy.eggs_p">Âu Cơ produced a sac of 100 eggs...</p>
            </div>
            <div class="image-box">
                <img src="../static/images/Episode_02.webp" alt="The Eggs">
            </div>
        </div>
    </div>
</body>
</html>